/* Example styling of a h1 element */
h1,h2 {
    color: brown;
}
/*styling of the paragraph*/
p
{
    color: black;
}


/*the bage is splited in to two halfs */
.left
{
   width: 50%;
   position: absolute;
   left: 0px;
   height: 100%;
   background-color: rgb(128, 119, 0);
  
   
}


.right {
    background-image: url("cookies.jpg");
    
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
  
    
}